*{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

:root{
	--background-header-color: rgb(121, 194, 109);
	--background-footer-primary-color: rgb(253, 124, 82);
	--background-footer-secondary-color: rgb(121, 194, 109);
	--background-search-bar-color: rgb(228, 243, 226);
	--background-products-card-color: rgb(255, 229, 220);
	--text-primary-color: rgb(0, 0, 0);
	--text-secondary-color: rgb(93, 93, 93);
	--text-tertiary-color: rgb(74, 74, 74);
	--icon-services-color: rgb(253, 150, 117);
	--boder-services-color: rgb(190, 190, 190);
	--border-search-bar-color: rgb(73, 116, 65);
}